{% extends "bases/base.html" %}

{% load static %}

{% block 'head' %}
<link href="{% static 'usuarios/css/css.css' %}" rel="stylesheet">
   
{% endblock 'head' %}


{% block 'conteudo' %}
    <div class="container">
        {% if user.is_authenticated %}
            <h3 class="font-destaque">Olá, {{ user.first_name}}</h3>
        <br>
        <h3 class="font-destaque">Seja muito bem vindo(a) ao sistema VITAL!</h3>

        <div class="row">
            <div class="col-md-3" style="text-align: center">
                <img src="{% static 'geral/img/logo.png' %}" alt="" style="margin-right: 10px;">
                <h3>Vital</h3>
            </div>

            <div class="col-md-3">
                <br>
                <br>
        {% else %}
            <h3 class="font-destaque">Olá, visitante</h3>
        <br>
        <h3 class="font-destaque">Seja muito bem vindo(a) ao sistema VITAL!</h3>

        <div class="row">
            <div class="col-md-3" style="text-align: center">
                <img src="{% static 'geral/img/logo.png' %}" alt="" style="margin-right: 10px;">
                <h3>Vital</h3>
            </div>

            <div class="col-md-3" >
                {% endif %}
                <p>
                    <div style="width: 100%; text-align: justify; font-size: 20px; white-space: normal;">
                        <span>O sistema VITAL é um sistema de gerenciamento de exames médicos. Aqui você pode:<br>
                           Solicitar e gerenciar exames;<br>
                           Visualizar e baixar os resultados;<br>
                           Solicitar senha de acesso a exames específicos;<br>
                           Criar um acesso temporário para seu médico visualizar o exame que você quiser.</span>
                    </div>
                </p>
            </div>
        </div>
    </div>
{% endblock %}
